/* Animate CSS */
@import "./plugins/animate.css"

.animate {
   visibility: hidden; // Reset Animate visibility
}

/**********************************
/* Variables */

// Color Theme
$1 = #F06868
$2 = #FAB57A
$3 = #EDF798
$4 = #80D6FF


// Fonts
$os = 'Open Sans','Helvetica','Arial',sans-serif

/*********************************
/* MIXINS */

 
vendor(prop, args)
	-webkit-{prop} args
	-moz-{prop} args
	{prop} args
 
border-radius()
	vendor('border-radius', arguments)

box-shadow()
	vendor('box-shadow', arguments)

flex()
	vendor('flex')

transition()
	vendor('transition', arguments)

linear-gradient()
	vendor('linear-gradient', arguments)

filter()
	vendor('filter', arguments)

transform()
	vendor('transform', arguments)


/**********************************
* Default Values
*/

body
	position relative
	heigh 100%
	width 100%
	font-family $os
	font-weight 300
	background #f3fcfa
	background url('../img/geometry2.png') repeat

ul
	margin 0
	padding 0

h1,h2,h3,h4,h5,h6,p
	margin 0
	margin-bottom 2rem
	padding 0
	line-height 1

p
	font-size 1.50rem
	font-weight 300
	line-height 1.4
	margin-bottom 1rem

@media only screen and (min-width: 769px)
	p
		font-size 2rem

.button
	padding 0.50em 2em
	font-size 2rem
	color #404040
	background $3
	box-shadow 1px 1px 5px 0px rgba(0,0,0,0.6)

.underlined
	text-decoration underline

.description
	margin-left 15px
	padding-left 15px
	border-left 5px solid #dfdfdf

/**********************************
* Main Style -- 
* !IMPORTANT:
* remove all codes below this to reset style
*
*/

.github
	position absolute
	top 15px
	right 30px
	font-size 2.50rem
	text-style normal
	text-decoration none
	color $1
	z-index 10

.main-section
	position relative
	height 100%
	min-height 100vh
	padding 0 15px
	h1
		font-size 5rem
		font-weight 300
		color $1

.start
	width auto
	margin 2em auto
	text-align center
	text-decoration none
	line-height 1

.second-section
	position relative
	height 100%
	min-height 100vh
	.description-card
		padding 2rem 15px
		margin-bottom 2rem
		border-radius 5px
		text-align left
		h2
			font-size 5rem
.gallery
	height 80vh
	h2
		text-align center
		margin 1em auto
	#gallery-1
		a
			padding 0
			img
				width 100%
				height auto

.footer
	position absolute
	bottom 15px
	right 15px
	font-size 1.50rem

@media only screen and (min-width: 769px)
	.main-section
		h1
			font-size 12rem

